<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="container">
        <div class="login-container">
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">LOGIN</h1>
                <form (ngSubmit)="login()" #form="ngForm">
                    <input type="text" placeholder="USERNAME" id="username" name="username" [(ngModel)]="formData.username" required/>
                    <input type="password" placeholder="PASSWORD" id="password" name="password" [(ngModel)]="formData.password" required/>
                    <button class="opacity" type="submit" [disabled]="form.invalid">SUBMIT</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>